asgiref==3.8.1
beautifulsoup4==4.13.4
chardet==5.2.0
Django==4.2.20
django-bootstrap-v5==1.0.11
django-bootstrap4==25.1
django-cors-headers==4.7.0
django-crispy-forms==2.3
django-widget-tweaks==1.5.0
numpy==2.0.2
pillow==11.2.1
pydicom==2.4.4
pylibjpeg==2.0.1
pylibjpeg-libjpeg==2.3.0
pylibjpeg-openjpeg==2.4.0
reportlab==4.4.1
soupsieve==2.7
sqlparse==0.5.3
typing_extensions==4.12.2
