{% load widget_tweaks %}
<!DOCTYPE html>
{% load bootstrap4 %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
    {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'hello/login.css' %}" />
</head>
<body>
    <img src="{% static 'hello/loginPage.svg' %}" class="background-image" alt="Background">

    <div class="overlayLoginForm">
    <form class="loginForm" method="POST">
        {% csrf_token %}
        <div class="loginText">Register an account</div>
        <div class="sepLine-reg"></div>
        {% render_field form.username class="custom-input-reg" placeholder="Username" %}
        {% render_field form.email class="custom-input-reg" placeholder="E-mail" %}
        {% render_field form.password class="custom-input-reg" placeholder="Password" %}
        {% render_field form.password_confirm class="custom-input-reg" placeholder="Confirm password" %}
        <div class="checkboxWrapper">
            <label class="custom-checkbox">
                <input type="checkbox" name="agree" required/>
                <span class="checkbox-style"></span>
                <div class="checkboxText">I am not a robot</div>
            </label>
        </div>
        <button class="loginButton" type="submit">Register</button>
    </form>
    </div>  
</body>
</html>